<div class="companies-card">
    <a href="#" target="_blank" rel="noopener noreferrer">
        <div class="text-overlay">
            <div class="image">
                <!-- Company logo and name -->
                <img src="/images/Shell-Logo.png" alt="">
            </div>
            <div class="text">
                <h3>Shell</h3>
                <p>See More ></p>
            </div>
        </div>
        <!-- Company image and link -->
        <img src="/images/Shell-Card-Image.jpg" alt="">
    </a>
</div>