<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/footer.css">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="footer-container">
            <div class="column">
                <div class="wrap content-wrap">
                    <h1>Contents</h1>
                    <a href="index.html#banner">Home</a>
                    <a href="about.html">Log In</a>
                    <a href="index.html#projects">Sign Up</a>
                    <a href="index.html#skills">Premium Account</a>
                    <a href="index.html#banner">About Us</a>
                    <a href="about.html">How EcoEval Works</a>
                    <a href="index.html#contact-form">Contact</a>
                </div>
            </div>
            <div class="column">
                <div class="wrap about-wrap">
                    <h1>Legal</h1>
                    <a href="index.html#banner">Privacy Policy</a>
                    <a href="about.html">Terms and Conditions</a>
                    <a href="index.html#projects">Guidelines for Reviewers</a>
                    <a href="index.html#skills">Manage Cookies</a>
                </div>
            </div>
            <div class="column">
                <div class="wrap cv-and-media-wrap">
                    <div class="media-wrap">
                        <h1>Social Networks</h1>
                        <div class="about-me-icons">
                            <a href="#" target="_blank"><i
                                    class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                            <a href="#" target="_blank"><i 
                                class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#" target="_blank"><i
                                    class="fa fa-facebook-official" aria-hidden="true"></i></a>
                            <a href="#" target="_blank"><i 
                                class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-text">
            <p>&copy; 2023 EcoEval. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>