
    <!-- Header section of the webpage -->
    <header>
        <div class="nav-container">
            <div class="logo-container logo">
                <!-- Logo and link to the homepage -->
                <a href="#banner">
                    <h1>EcoEval</h1>
                </a>
            </div>
            <div class="contents-container">
                <div class="contents-wrap">
                    <!-- Navigation links -->
                    <a href="#companies">Companies</a>
                    <a href="#">Sign Up</a>
                    <a href="#">For Paid Customers</a>
                    <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </header>
