<header>
    <div class="nav-container">
        <div id="nav-links" class="nav-links">
            <div class="logo-container logo">
                <!-- Logo and link to the homepage -->
                <a href="/">
                    <h1>EcoEval</h1>
                </a>
            </div>
            <div class="contents-container">
                    <div class="contents-wrap">
                        <a href="#companies">Companies</a>
                        <%- locals.user ? '<a href="/user"> <img width="25px" src="' + user.image_url + '"/>' + user.username + '</a><div class="search-icon"><a href="/"><i class="fa fa-search" aria-hidden="true"></i></a></div>'  :
                            '<a href="/register" id="register-link">Sign Up</a>' +
                            '<a href="/login" id="login-link">Log In</a>' +
                            '<a href="#">For Paid Customers</a>' +
                            '<div class="search-icon"><a href="/"><i class="fa fa-search" aria-hidden="true"></i></a></div>'
                        %>
                    </div>
            </div>
        </div>
        <div id="search-bar">
            <div class="search-bar-container">
                <div class="search-input-container">
                    <button id="search-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                    <input type="text" id="search-input" placeholder="Search...">
                </div>
                <div class="close-searchbar">
                    <span id="close-btn">&times;</span>
                </div>
            </div>
        </div>
    </div>
</header>
