<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta information for character set and viewport -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title of the webpage displayed in the browser tab -->
    <title><%= locals.title ? title : 'EcoEval' %></title>
</head>
<body>

    <a href="/">&times;</a>
    <h2>Login</h2>
    <form id="login-form" method="POST" action="/login">
      <!-- Login form fields -->
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <button type="submit">Log In </button>
    </form>


<%-include('../partials/footer') -%>