<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta information for character set and viewport -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title of the webpage displayed in the browser tab -->
    <title><%= locals.title ? title : 'EcoEval' %></title>
</head>
<body>


        <a href="/">&times;</a>
        <h2>Register</h2>
        <form id="register-form" method="POST" action="/register" enctype="multipart/form-data">
            <!-- Registration form fields -->
            <!-- Username -->
            <input type="text" name="username" placeholder="Username" required>

            <!-- Password -->
            <input type="password" name="password" placeholder="Password" required>

            <!-- Email -->
            <input type="email" name="email" placeholder="Email" required>

            <!-- Subscription -->
            <input type="radio" id='paid' value="Paid" name='subscription' required>
            <label for="paid">Paid</label>
            <input type="radio" id="unpaid" value="Unpaid" name='subscription' required>
            <label for="unpaid">Unpaid</label>
            <br/>

            <!-- Pic upload -->
            <label for="avatar">Choose a profile picture:</label>
            <br/>
            <input type="file" id="avatar" name="picture" accept="image/*" required/>

            <!-- Submit -->
            <button type="submit">Register</button>
        </form>


