@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* FOOTER */

footer {
    background: var(--black-color);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 0 50px;
}

.column {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.wrap {
    text-align: left;
    color: var(--white-font-color);
}

.wrap h1 {
    font-family: 'Lexend';
    font-weight: 900;
    margin-bottom: 15px;
    font-size: 25px;
}

.wrap a {
    transition: 0.3s ease-out;
    width: fit-content;
}

.wrap a:hover {
    color: var(--dark-orange-color);
}

.column a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: var(--white-font-color);
}

.cv-download-button-container {
    width: 220px;
}

.about-me-icons {
    display: flex;
    align-items: center;
    gap: 32px;
}

.about-me-icons i {
    color: var(--white-font-color);
    font-size: 30px;
    margin: 10px 0;
    transition: .3s ease-out;
}

.about-me-icons i:hover {
    color: var(--dark-orange-color);
}

.copyright-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 20px 20px 20px;
    color: #DCD7C9;
}
