/* Import Google Fonts for 'Lexend' and 'Outfit' */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Define CSS variables (custom properties) for colors */
:root {
    --body-background-color: #1F8A70;
    --header-background-color: #222831;
    --white-font-color: #fff;
    --orange-button-color: #FC7300;
    --dark-orange-hover-color: #a04800;
}

/* Reset default margin, padding, font, and scroll behavior */
* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    scroll-behavior: smooth;
}

/* Styling for the entire body */
body {
    background-color: var(--body-background-color);
    height: 150vh;
    /* This sets the height of the body */
}

/* Styling for the header */
header {
    z-index: 100000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* Styling for the logo link */
.logo a {
    color: var(--white-font-color);
    text-decoration: none;
}


/* Styling for the navigation container */
.nav-container {
    padding: 22px 40px;
    color: var(--white-font-color);
    background-color: transparent;
    transition: 0.5s;
}

.nav-container .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.nav-container .nav-links.nav-links-searchbar-off{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container .nav-links.nav-links-searchbar-on {
    display: none;
}


/* Styling for the navigation title */
.nav-container h1 {
    font-size: 65px;
    font-weight: 900;
}

/* Styling for the contents within the navigation container */
.contents-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 602px;
    height: 100%;
}

/* Styling for navigation links */
.contents-wrap a {
    text-decoration: none;
    color: var(--white-font-color);
    font-size: 18px;
    font-weight: 700;
}

/* Styling for specific navigation links (1st, 2nd, and 4th) */
.contents-wrap a:nth-child(1),
.contents-wrap a:nth-child(2),
.contents-wrap a:nth-child(3),
.contents-wrap a:nth-child(4) {
    padding: 10px 0;
    border-bottom: 3px solid transparent;
    transition: .5s ease-out;
}

/* Nav-bar search icon */
.contents-wrap .search-icon {
    padding: 10px 0;
    cursor: pointer;
    font-size: 27px;
    border-bottom: transparent 3px solid;
    transition: .5s ease-out;
}

.contents-wrap .search-icon:hover {
    border-bottom: var(--white-font-color) 3px solid;
}

/* Styling for the 3rd navigation link */
.contents-wrap a:nth-child(4) {
    padding: 10px 20px;
    background-color: var(--orange-button-color);
    border-radius: 50px;
    transition: .5s ease-out;
}

/* Styling for the 4th navigation link */
.contents-wrap a:nth-child(4) {
    font-size: 25px;
}

/* Hover effect for specific navigation links (1st, 2nd, and 4th) */
.contents-wrap a:nth-child(1):hover,
.contents-wrap a:nth-child(2):hover,
.contents-wrap a:nth-child(3):hover {
    border-bottom: var(--white-font-color) 3px solid;
}

/* Hover effect for the 3rd navigation link */
.contents-wrap a:nth-child(4):hover {
    background-color: var(--dark-orange-hover-color);
}

/* Styling when the header is in 'sticky' state */
.sticky-navbar {
    padding: 6px 40px;
    background-color: var(--header-background-color);
}

/* Styling of the searchbar */

#search-bar {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--header-background-color);
    padding: 32px 0;
    border-radius: 5px;
    width: 100%;
}

#search-bar .search-bar-container{
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#search-bar .search-bar-container .search-input-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3px
}

#search-input {
    width: 50%;
    padding: 10px;
    border: none;
    color: var(--white-font-color);
    border-bottom: var(--white-font-color) 3px solid;
    background-color: transparent;
    outline: none;
    font-size: 23px;
    transition: .5s ease;
}

#search-input:focus{
    border-bottom: var(--orange-button-color) 3px solid;
}

#search-btn {
    padding: 10px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 25px;
    transition: .5s ease-out;
}

#close-btn {
    font-size: 44px;
    cursor: pointer;
    transition: .5s ease;
}

#search-btn:hover,
#close-btn:hover{
    color: var(--orange-button-color);
}
