/* Import Google Fonts for 'Lexend' and 'Outfit' */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset default margin, padding, font, and scroll behavior */
* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    scroll-behavior: smooth;
}

/* Styling for the entire body */
body {
    background-color: var(--white-color);
    /* This sets the height of the body */
}

/* Styling for the banner section */
.banner {
    width: 100%;
    height: 100vh;
    /* 100% of the viewport height */
    background-image: url(../images/Banner-Photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Styling for the container within the banner section */
.banner-container {
    height: 100%;
    width: 100%;
    background-color: #1f8a6f2a;
}

/* Styling for the content within the banner */
.banner .content {
    color: var(--white-font-color);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 100px;
}

.banner .content p {
    margin: 5px 0;
    font-size: 46px;
    font-weight: 800;
}

/* Styling for the banner button */
.banner-button {
    width: 235px;
    height: 55px;
    margin: 10px 0;
}

.banner-button .button {
    font-size: 23px;
    text-decoration: none;
    color: var(--white-font-color);
    display: flex;
    border: 3px solid;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: linear-gradient(to right, var(--dark-orange-color) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

.banner-button .button:hover {
    background-position: left bottom;
}

/* Styling for the 'Companies' section */
.companies {
    padding: 70px 0;
}

.companies-container {
    padding: 0 30px;
}

/* Styling for the title within the 'Companies' section */
.companies-title-container {
    margin: 50px 0;
    color: #222831;
}

.companies-title-container h2 {
    font-size: 30px;
    font-weight: 800;
}

.companies-title-container p {
    font-size: 29px;
    font-weight: 300;
}

/* Styling for individual company cards */
.companies-card {
    background-color: #1f1f1f;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.03);
    position: relative;
    width: 97%;
    height: 537px;
    transition: .5s;
}

/* Styling for the text overlay within company cards */
.text-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #222831b3;
    display: none;
    color: #fff;
}

.text-overlay .image {
    width: 55%;
}

.text-overlay .image img {
    width: 100%;
}

.text-overlay .text {
    width: 100%;
    text-align: center;
    position: relative;
    top: 20%;
    transform: translateY(50%);
    text-align: center;
}

.text-overlay .text h3 {
    margin: 0px;
    padding: 0px;
    letter-spacing: 2px;
    text-align: center;
}

.text-overlay .text p {
    font-size: 1.2rem;
    margin: 0 15%;
    text-align: center;
}

/* Hover effect to display text overlay on company cards */
.companies-card:hover .text-overlay {
    display: flex;
}

.companies-card:hover .text-overlay .text {
    position: relative;
    bottom: 0;
}

/* Styling for images within company cards */
.companies-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*
Sigurd modal styling */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  