
/* General styling for the DIVs such as color, position, etc. */
.login-section{
    background-color: #222831;
}

.login-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.login-form-wrap{
    padding: 20px;
    background-color: #121519;
    color: var(--white-font-color);
    width: 425px;
    height: 405px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}

/* Styling of heading for log in form */

.login-form-wrap h2{
    text-align: center;
    font-size: 40px;
}

/* styling the inputs */

#username-input,
#password-input {
    padding: 10px;
    border: none;
    color: var(--white-font-color);
    border-bottom: var(--white-font-color) 3px solid;
    background-color: transparent;
    outline: none;
    font-size: 23px;
    transition: .5s ease;
}

#username-input:focus,
#password-input:focus {
    border-bottom: var(--orange-button-color) 3px solid;
}

#login-button {
    background-color: var(--orange-button-color);
    color: var(--white-font-color);
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid transparent;
    font-size: 23px;
    cursor: pointer;
    transition: .5s ease;
}

#login-button:hover {
    background-color: var(--dark-orange-hover-color);
}