<%-include('../partials/header') -%>

<!-- Banner section -->
<section class="banner" id="banner">

</section>

<!-- Companies section -->
<section class="companies" id="companies">



        <h1 id="companyName"></h1>
        <p>Location: <span id="companyLocation"></span></p>
        <p>Industry: <span id="companyIndustry"></span></p>
        <p>Number of employees: <span id="companyEmployees"></span></p>
        



  </section>

<!-- Modal for log in and register -->

<%-include('../partials/login')-%>
<%-include('../partials/register')-%>

<%-include('../partials/footer')-%>
<script defer src="/scripts/main.js"></script>
