<%-include('../partials/header') -%>

<!-- Banner section -->
<section class="banner" id="banner">

</section>

<!-- Companies section -->
<section class="companies" id="companies">
  </section>

<!-- Modal for log in and register -->

<%-include('../partials/login')-%>
<%-include('../partials/register')-%>

<%-include('../partials/footer')-%>
<script defer src="/scripts/main.js"></script>
