<%-include('../partials/head') -%>
<%-include('../partials/header') -%>

<!-- Companies section -->
<section class="company-information-heading" id="company-information-heading">

        <div class="company-information-heading-container" id="company-information-heading-container">

            <div class="company-information">

              <div class="logo-name-rating-container">

                <div class="logo">
                  <img src="images/Shell-Logo.png" alt="company logo">
                </div>

                <div class="name-rating-container">
                  <div class="company-name">
                    <h2>Shell Global</h2>
                  </div>
                  <div class="rating">
                    <p>Reviews: 231</p>
                  </div>
                </div>

              </div>

              <div class="vertical-line" style="height: 132px;"></div>

              <div class="description-container">

                <h3>Who are we</h3>
                <p>
                  Shell is an international energy company with expertise in the exploration, production, refining and marketing of oil
                  and natural gas, and the manufacturing and marketing of chemicals.
                  <br>
                  We use advanced technologies and take an innovative approach to help build a sustainable energy future. We invest in
                  power, including from renewable sources such as wind and solar. We also invest in electric vehicle charging and
                  low-carbon fuels for transport, such as advanced biofuels and hydrogen.
                </p>
              </div>

            </div>

        </div>

</section>

<section class="company-information-content" id="company-information-content">

  <div class="company-information-content-container" id="company-information-content-container">

    <div class="esg-certificate-container">

      <div class="esg-certificate-wrap">
        <div class="esg-certificate">
          <img src="images/Example-ESG-Certificate.png" alt="Company's ESG certificate">
        </div>
        <div class="esg-certificate-descrtiption">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Sed libero dignissimos obcaecati eius! Nam, et. Labore debitis delectus aspernatur consequatur, 
            repudiandae ex asperiores, amet odit ea et beatae saepe rerum!
          </p>
        </div>
      </div>

    </div>

    <div class="sidebar-rating-comments">

      <div class="sidebar-rating">
        <h3>Give Us A Rating</h3>
        <div class="star-rating">
          <div class="rating">
            <input type="radio" id="star5" name="rating" value="5" class="radio-1" />
            <label for="star5" class="star star-1" title="Excellent"></label>
            <input type="radio" id="star4" name="rating" value="4" class="radio-2" />
            <label for="star4" class="star star-2" title="Great"></label>
            <input type="radio" id="star3" name="rating" value="3" class="radio-3" />
            <label for="star3" class="star star-3" title="Average"></label>
            <input type="radio" id="star2" name="rating" value="2" class="radio-4" />
            <label for="star2" class="star star-4" title="Poor"></label>
            <input type="radio" id="star1" name="rating" value="1" class="radio-5" />
            <label for="star1" class="star star-5" title="Bad"></label>
          </div>

        </div>

      </div>

      <div class="sidebar-comments">
        <div class="comment">
          <div class="user-information-wrap">
            <div class="user-image">
              <img src="images/Tesla_logo.png" alt="user logo">
            </div>
            <div class="user-name">
              <h3>Tesla</h3>
            </div>
          </div>
          <div class="comment-content-wrap">
            <div class="comment-heading">
              <h3>Tried to charge an electric vehicle...</h3>
            </div>
            <div class="comment-text">
              <p>
                Tried to charge an electric vehicle using shell recharge I was charged £45 and immediately disconnected after they took
                payment. I tried again was charged and disconnected.. 3 days later they paid me £45 back 7 days later and I am still
                waiting for my other £45 refund.. I moved on to a service station and received a full charge for £35 I will never return
                to shell recharge and I advise anyone else to also avoid been ripped off
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</section>

<%-include('../partials/footer')-%>

<script src="scripts/companyScript.js"></script>
</body>
</html>
