<%-include('../partials/header') -%>

<!-- Banner section -->
<section class="banner" id="banner">
    <div class="banner-container">
        <div class="content">
            <!-- Text content in the banner -->
            <p>Read reviews. <br>
                Write reviews. <br>
                Find your next trustworthy partner.</p>
            <div class="banner-button">
                <!-- Button to read reviews -->
                <a href="#" class="button">Read Reviews</a>
            </div>
        </div>
    </div>
</section>
<!-- Banner section -->
<section class="banner" id="banner">

</section>

<!-- Companies section -->
<section class="companies" id="companies">
  </section>

<!-- Modal for log in and register -->

<%-include('../partials/login')-%>
<%-include('../partials/register')-%>

<%-include('../partials/footer')-%>
<script defer src="/scripts/main.js"></script>
