    <%-include('../partials/head') -%>
    <%-include('../partials/header') -%>
    <!-- Banner section -->
    <section class="banner" id="banner">
        <div class="banner-container">
            <div class="content">
                <!-- Text content in the banner -->
                <p>Read reviews. <br>
                    Write reviews. <br>
                    Find your next trustworthy partner.</p>
                <div class="banner-button">
                    <!-- Button to read reviews -->
                    <a href="#" class="button">Read Reviews</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Companies section -->
    <section class="companies" id="companies">
        <div class="companies-container">
            <div class="companies-title-container">
                <!-- Title for the section -->
                <h2>Top-Rated ESG Companies</h2>
            </div>

            <div class="companies-card-container">
                <!-- Individual company cards with images and links -->

                <form id='company-form' action="#" method="POST">
                    <!--Script adds the buttons--> 
                </form>
            </div>
        </div>
    </section>

    <%-include('../partials/footer')-%>

    <script defer src="scripts/indexScript.js"></script>
</body>
</html>