<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoEval</title>
</head>
<body>
    <header>
        <div class="nav-container">
            <div class="logo-container logo">
                <h1>EcoEval</h1>
            </div>
            <div class="contents-container">
                <div class="contents-wrap">
                    <a href="">Companies</a>
                    <a href="">Sign Up</a>
                    <a href="">For Paid Customers</a>
                </div>
            </div>
        </div>
    </header>
</body>
</html>