<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4adf7cb2f7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/styles/header.css">
    <title>EcoEval</title>
</head>
<body>
    <header>
        <div class="nav-container">
            <div class="logo-container logo">
                <h1>EcoEval</h1>
            </div>
            <div class="contents-container">
                <div class="contents-wrap">
                    <a href="#">Companies</a>
                    <a href="#">Sign Up</a>
                    <a href="#">For Paid Customers</a>
                    <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </header>
</body>
</html>