<%-include('../partials/head') -%>
<%-include('../partials/header') -%>

   <div  id="profile">
      <!--User data loaded inside. Check js file fo modifying.-->
   </div>

<form id="userForm" action="/default">
    <button onclick="pageChange('logout')">Logout</button>
    <button onclick="pageChange('home')">Home</button>
    <button onclick="pageChange('insertCompany')">Insert Company</button>
</form>


<%-include('../partials/footer') -%>

<script defer src="scripts/userScript.js"></script>
</body>
</html>